.choice {
  color: initial;
  text-decoration: none;
}

.see-explanation-btn {
  margin-right: 4px;
}

.proceed-btn {
  margin-left: 4px;
}

main {
  min-height: calc(100vh - 168px);
}

footer {
  border-top-width: 2px;
  border-top-style: groove;
}
