.choice {
  color: initial;
  text-decoration: none;
}

.see-explanation-btn {
  margin-right: 4px;
}

.proceed-btn {
  margin-left: 4px;
}

main {
  min-height: calc(100vh - 202px);
}

@media (min-width: 992px) {
  main {
    min-height: calc(100vh - 162px);
  }
}

